body{
    background: linear-gradient(to right, #f0f4f8, #d9e2ec);

}

.background-color{
    background: linear-gradient(to right, #f0f4f8, #d9e2ec);
}

.profile-image{
    border-radius: 50%;
}

.card-sizing{
    height: 31.25rem;
}

.logos{
    padding-bottom: 1rem;
}