body{
    background: linear-gradient(to right, #f0f4f8, #d9e2ec);

}

.background-color{
    background: linear-gradient(to right, #f0f4f8, #d9e2ec);
}

.profile-image{
    border-radius: 50%;
}

.card-sizing{
    height: 31.25rem;
}

.logos{
    padding-bottom: 1rem;
}
.img-porfolio{
    height: 18.75rem;
}

.about-me{
    margin-top: 2rem;
}

.img-container{
    display: flex;
    justify-content: space-around;
}
.crypto-img{
    width: 6rem;
    height: 5rem;
    margin: 1rem;
}

